<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{data?.job ? (data.job.title | titlecase) : 'New Job'}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>


    <div class="panel-content">
        <form [formGroup]="jobForm" class="d-flex flex-column">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input formControlName="title" matInput type="text"/>
                <mat-error *ngIf="jobForm.controls.title.hasError('required')">Title is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <mat-select formControlName="location" [value]="location">
                    <mat-option *ngFor="let city of cities" [value]="city">
                        {{city.city + ', ' + city.state}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="jobForm.controls.location.hasError('required')">Location is Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option value="full-time">Full-time</mat-option>
                    <mat-option value="part-time">Part-time</mat-option>
                </mat-select>
            </mat-form-field>

            <b>Description</b>
            <div class="mb-4 mt-2" style="background-color: white; color: black">
                <quill-editor [modules]="modules" [styles]="{height: '250px'}" formControlName="description">
                </quill-editor>
            </div>


            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-chip-list #categoryList>
                    <mat-chip
                            (removed)="removeCategory(category)"
                            *ngFor="let category of categories"
                            [removable]="true">
                        {{category['category']}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                            #categoryInput
							(matChipInputTokenEnd)="addCategory($event)"
                            [formControl]="categoryControl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="categoryList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            placeholder="+ Category"

                    >
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCategory($event)">
                    <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                        {{category['category']}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </form>

    </div>

    <div class="panel-footer">
        <button class="mr-auto" mat-flat-button color="warn" (click)="deleteJob()"><mat-icon>delete</mat-icon></button>
        <button (click)="submit()" color="primary" mat-flat-button>{{!data?.job ? 'Post' : 'Update'}}</button>
    </div>

</section>
