<section id="action-bar">
    <hr class="mt-4 mb-4"/>
    <div class="d-flex justify-content-end align-items-center">
        <div *ngIf="!isConfigured else configured" class="mr-auto">
            <button (click)="showPanel('config')"
                    color="primary" mat-flat-button>
                Test with your Xano account...
            </button>
            <a *ngIf="config.editLink" [href]="config.editLink" class="ml-4" mat-button target="_blank">
                {{config.editText}}
            </a>
        </div>

        <ng-template #configured>
            <button *ngIf="!isHome" class="mr-2" mat-stroked-button routerLink="">
                All Postings
            </button>


            <button *ngIf="!viewAsApplicant" class="mr-2" [routerLink]="['/applications']"
                    mat-stroked-button>
                Applications
            </button>

            <button (click)="showPanel('post-job')" *ngIf="!viewAsApplicant" class="mr-2" color="accent"
                    mat-flat-button>
                <mat-icon>add</mat-icon>
                Job
            </button>

            <button (click)="changeView()" color="primary" mat-flat-button>
                View as {{viewAsApplicant ? 'Employer' : 'Applicant'}}
            </button>
        </ng-template>
    </div>
    <hr class="mt-4 mb-4"/>
</section>

