<section class="w-100">
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input autocomplete="off" matInput [formControl]="search" />
                <mat-icon *ngIf="search.value"
                        matSuffix class="cursor-pointer" (click)="resetSearch()">close</mat-icon>
            </mat-form-field>
        </div>
        <table [dataSource]="jobs" class="w-100" mat-table>
            <ng-container matColumnDef="title">
                <th *matHeaderCellDef mat-header-cell>Title</th>
                <td *matCellDef="let row" mat-cell><a [routerLink]="['job', row.id]">{{row.title}}</a></td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th *matHeaderCellDef mat-header-cell>Category</th>
                <td *matCellDef="let row" mat-cell>
                    <span *ngFor="let category of row.category">{{category?.category}}{{row.category[row.category.length - 1] !== category ? ',' : ''}} </span>

                </td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th *matHeaderCellDef mat-header-cell>Location</th>
                <td *matCellDef="let row" mat-cell>{{getLocation(row.location.data.lat, row.location.data.lng)}}</td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th *matHeaderCellDef mat-header-cell>Date Posted</th>
                <td *matCellDef="let row" mat-cell>{{row.created_at | date}}</td>
            </ng-container>

            <ng-container matColumnDef="view_applications">
                <th *matHeaderCellDef mat-header-cell>View</th>
                <td *matCellDef="let row" mat-cell>
                    <button mat-stroked-button [routerLink]="['job/' + row.id + '/applications']">
                        Applications
                    </button>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" class="table-row"
                mat-row></tr>
        </table>
        <div class="d-flex w-100 justify-content-center align-items-center mt-4" *ngIf="noResults">
            <h2>No Results!</h2>
        </div>
        <mat-paginator
                [pageSize]="25"
                [pageIndex]="currentPage -1"
                [length]="totalItems"
                (page)="pageChangeEvent($event)"
        ></mat-paginator>
    </div>

</section>




