<section>
    <div class="d-flex justify-content-center align-items-center" *ngIf="notFound">
        <div class="text-center">
            <mat-icon color="warn">warning</mat-icon>
            <h2>Job Listing Not Found!</h2>
            <button mat-stroked-button routerLink="">Back</button>
        </div>
    </div>
    <div *ngIf="job">
        <div class="d-flex">

            <div>
                <h1 class="m-0"><b>{{job.title | titlecase}}</b></h1>
                <div>
                    <span *ngFor="let category of job.category">
                        {{category.category}}{{job.category[job.category.length -1].category !== category.category  ? ', ' : ''}}
                    </span>
                </div>

                <div class="d-flex align-items-center mt-2">
                    <div class="d-flex align-items-center">
                        <mat-icon class="mr-1">schedule</mat-icon>
                        <span>{{job.type | titlecase}}</span>
                    </div>

                    <div class="d-flex align-items-center ml-2">
                        <mat-icon class="mr-1">location_on</mat-icon>
                        <span>{{getLocation(job.location?.data?.lat, job.location?.data?.lng)}}</span>
                    </div>
                </div>
            </div>


            <div class="ml-auto d-flex align-items-center">
                <button *ngIf="viewAsApplicant" mat-stroked-button (click)="openPanel('apply')">
                    Apply Today
                </button>

                <button *ngIf="!viewAsApplicant" mat-stroked-button [routerLink]="['applications']" class="mr-2">
                    View Applicants
                </button>

                <button *ngIf="!viewAsApplicant" mat-stroked-button (click)="openPanel('edit')">
                    Edit
                </button>
            </div>

        </div>

        <hr />

        <div [innerHTML]="job.description">

        </div>
    </div>
</section>
