<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">Apply For {{data?.job?.title | titlecase}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>


    <div class="panel-content">
        <form [formGroup]="applicationForm" class="d-flex flex-column">
            <div class="mb-4">
                <ng-container *ngIf="applicationForm.controls.resume.value">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="flex-fill d-flex justify-content-center align-items-center">
                            <mat-icon>file_copy</mat-icon>
                        </div>
                        {{applicationForm.controls.resume.value?.name}}
                        <button mat-button color="warn" (click)="deleteFile()"><mat-icon>delete</mat-icon></button>
                    </div>

                </ng-container>
                <ng-container *ngIf="!applicationForm.controls.resume.value">
                    <ng-container *ngIf="uploading">
                        <div class="d-flex align-items-center justify-content-center">
                            <mat-spinner></mat-spinner>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!uploading">
                        <div class="d-flex flex-column justify-content-center align-items-center pt-2 image-upload-box"
                             (click)="fileUpload.click()">
                            <div>
                                <button mat-stroked-button type="button">
                                    <mat-icon>publish</mat-icon>
                                </button>
                            </div>
                            <div>
                                <h2>Upload Resume</h2>
                            </div>
                            <input #fileUpload type="file" hidden (change)="upload($event)"
                                   accept="application/msword, text/plain, application/pdf, image/*">
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text"/>
                <mat-error *ngIf="applicationForm.controls.name.hasError('required')">Name is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email"/>
                <mat-error *ngIf="applicationForm.controls.email.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="applicationForm.controls.email.hasError('pattern')">
                    Please enter a valid email
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input formControlName="phone" matInput type="tel"/>
            </mat-form-field>
        </form>

        <mat-error *ngIf="applicationForm.controls.job_id.hasError('required')">
            That job wasn't found.
        </mat-error>
    </div>

    <div class="panel-footer">
        <button (click)="submit()" color="primary" mat-flat-button>Submit Application</button>
    </div>

</section>
