<section id="home">
    <div *ngIf="!configured else Jobs">
        <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
    </div>
    <ng-template #Jobs>
        <app-job-postings></app-job-postings>
    </ng-template>
</section>
